<!DOCTYPE html>
<html lang="kor" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" th:href="@{css/main.css}">
  </head>
  <body>
    <!-- 실제 메인페이지 -->

    <!-- 사용자 이미지 -->
    <div class="userimg">
      <div class="userimg_content">
      </div>
    </div>

    <!-- 사용자 아이디 -->
    <div class="my_id">
    </div>

    <!-- 메뉴바 -->
    <th:block th:include="@{common/header}"></th:block>

    <!-- 대표이미지 -->
    <div class="mainimage">
    	<div class="mainimage_content">
    	</div>
	</div>
	
    
    <script>
	    var my_id = sessionStorage.getItem("my_id");
	    $(".my_id").text(my_id);
    </script>
    
  </body>
</html>
