@charset "UTF-8";

div.button input{
  border: 1px solid black;
  padding: 8px;
  font-size: medium;
  margin: 2vw;
  border-radius: 10px;
}

div.button input:hover{
  color: white;
  background-color: #333;
}

div.button #upload{
  float: right;
}

div.content{
  margin-top: inherit;
  position: relative;
  z-index: 1;
}

#image{
  column-width:24vw;
  column-gap: 1vw;
  padding: 4vw;
  padding-top: 2vw;
  padding-right: 1vw;
}

#image figure{
  display: inline-block;
  border:1px solid rgba(0,0,0,0.2);
  margin:0;
  margin-bottom: 2vw;
  padding:1vw;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  width: 25.5vw;
  background-color: white;
}

#image figure img{
  width:100%;
}

#image figure figcaption{
  border-top:1px solid rgba(0,0,0,0.2);
  padding:10px;
  margin-top:11px;
  background-color: white;
}

/* 여기만 고친것 */

.recipe_upload{
  border-radius: 8%;
  border:4px solid rgba(0,0,0,0.2);
  width: 21vw;
  height: 28vw;
  background-color: white;
  right: 9vw;
  top: 5vw;
  padding: 1.5vw;
  padding-top: 1.5vw;
  position: absolute;
  z-index: 2;
  display: none;
}

.recipe_upload_content{
  margin-top: 3vw;
  margin-left: 1vw;
}

#recipename{
  width: 13vw;
  margin-bottom:2.0vw;
  height: 2vw;
  border: 0.5px solid rgba(0,0,0,0.2);
}

#selected_img{
  margin-bottom:2.0vw;
  border-radius: 10px;
}

#recipe_textarea{
  width: 19vw;
  margin-bottom:2.0vw;
  height: 10vw;
  border: 0.5px solid rgba(0,0,0,0.2);
  margin-top: 0.5vw;
}

input[type = submit]{
  border: 1px solid rgba(0,0,0,0.2);
  font-size: medium;
  border-radius: 10px;
  padding: 10px;
  margin-left: 7.5vw;
}


#title{
  position: absolute;
  float: right;
  top: 3vw;
  right: 8vw;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.recipe_detail{
  top: 5vw;
  left: 20vw;
  border:4px double black;
  background-color: white;
  width: 56vw;
  height: 38vw;
  position: fixed;
  z-index: 2;
  padding: 2vw;
  display: none;
}

#img1{

}

#img1 img,#img2 img{
  border:3px double black;
  width: 28vw;
  height: 18vw;
}

#textarea{
  width: 20vw;
  float: right;
  height:28vw;
  background-color: white;
  border: 3px double black;
  font-size: 20px;
  padding: 2vw;
  position: absolute;
  top: 7vw;
  right: 2vw;
}

#close{
  float: right;
  border: 1px solid black;
  padding: 8px;
  font-size: medium;
  width: 1vw;
  height: 1vw;
}
