@charset "UTF-8";

body {
	background-image: linear-gradient(to right,#E8EBED,#C9CDD2 ,#9EA4AA,#72787F ,#26282B );
}

.login{
	overflow: scroll;
	border-radius: 8%;
	width: 23vw;
	height: 53vh;
	margin: auto; 
	margin-top : 15vh; 
	text-align:center;
	background-color: white;
	box-shadow: 10px 10px 5px black;
}

img{
	width: 9vw; 
	height: 15vh;
	border-radius: 50%;
}

.centerimg{
 	border: 0.1rem solid black;
 	width: 9vw; 
	height: 15vh;
  	border-radius: 50%;
  	margin : 0 auto;
	margin-top : 4vh;
}

.form{
	margin-top: 4vh;
	margin-bottom : 3vh;
}

.account_info{
	margin-bottom: 3vh;
}

.my_account{
	 width: 15vw;
	 height: 4vh;
 	 margin-left : 1vw;
	 border: 0.5px solid black;
}

#my_account_id{
	margin-left : 1.8vw;	
}

input[type = button],input[type = submit]{
	border-radius: 10%;
	width: 5vw;
	height: 6vh;
	font-size: 1vw;
  	border: 0.5px solid black;
  	margin : 1vh 0.3vw;
}

label{
	font-size: 1vw;
}










.createaccount{
  text-align: center;
  background-color: white;
  border-radius: 8%;
  width: 20vw;
  height: 27vw;
  padding: 1vw;
  border-style: groove;
  float: right;
  display: none;
  top: -25vw;
  right: 10vw;
  position: relative;
  z-index: 2;
  box-shadow: 10px 10px 5px black;
}



.centerimg2{
  width: 5vw;
  height: 5vw;
  margin-left: 6.5vw;
  margin-right: 6.5vw;
  background-image: url("image/resume.png");
  background-color: white;
  background-position: center;
  background-size: 5vw;
}

/* .form{
   margin-top: 2vw;
} */

.accountform{
  margin-top: 1.5vw;
}


.check{
   margin-top: 1.5vw;
}

input[type = date]{
  width: 10vw;
  margin-top: 1vw;
  height: 2vw;
  border: 0.5px solid black;
}

.account{
  width: 10vw;
  margin-top: 1vw;
  height: 2vw;
  border: 0.5px solid black;
}


/* input[type = submit]{
  border-radius: 8%;
  width: 5vw;
  height: 3vw;
  margin-right: 1vw;
  font-size: 1vw;
  margin-top: 2vw;
  border: 0.5px solid black;
}



input[type = text]{
  font-size: 1vw;
} */

.checkId{
  margin-top: 0.5vw;
}
