<!DOCTYPE html>
<html lang="kor" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <title>FoodRecipe_Detail</title>
    <link rel="stylesheet" th:href="@{css/food_detail.css}">
  </head>
  <body>
    <!-- 레시피 대표사진 클릭시 레시피에대한 사진 동영상과 detail 보여주는 html -->

    <!-- 메뉴바 -->
  	<th:block th:include="@{common/header}"></th:block>


    <!-- 레시피 불러오는 detail content -->
    <div class="myrecipe">
      <div class="recipename" id="recipename" th:text="${recipe_info.title}">
        <!-- 레시피 명칭 -->
      </div>
      <strong id="reco_count">현재 추천수 : <strong id="reco_num"></strong></strong><br/>
      <div class="recommand" id="recommand" onclick="recommand_Add();">
      </div><br/>
      <strong id="reco_message">마음에 드신다면 추천버튼 꾹! </strong>
      <div class="img" id="img">
      	<img th:each="Imgs : ${recipe_imgs}" class = "img1" th:src="@{'uploads/'+ ${recipe_info.title}+'|'+${Imgs.name}}">
      </div>
      <div class="YouTube" id="YouTubediv">
			<iframe id="YouTube" th:src="${recipe_info.url}" allowfullscreen ></iframe>
      </div>
      <div class="explain">
        <textarea name="content" id="textarea" rows="8" cols="50" th:text="${recipe_info.exp}">
        </textarea>
      </div>
    </div>

    <script type="text/javascript" th:src="@{js/food_detail.js}"></script>
  </body>
</html>
